<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">首页</h3>
                </div> <!-- /.card-body -->
                <div class="card-body">
                    <div class="panel panel-default">
                        <div style="padding: 10px 0 20px 10px;">
                            <h4>概述：</h4>
                            <h6>&nbsp;&nbsp;&nbsp;&nbsp;本项目是在学习完别人的开源项目后，自行模仿+摸索而开发的一个书籍商城项目。项目还处于初始阶段，很多动能还未完善。但是基本的功能已经具备，您可以下载项目在本地使用idea运行。</h6>
                            <h4>使用到的技术：</h4>
                            <h6>&nbsp;&nbsp;&nbsp;&nbsp;本项目涉及到的技术有：thymeleaf、mybatis、springboot、mysql以及一些列的前端技术，如：jquery、ajax、bootstrap等等。</h6>
                            <h4>适用人群：</h4>
                            <h6>&nbsp;&nbsp;&nbsp;&nbsp;因为我自己也是上面所提到的技术的初学者。所以该项目尤其适合于学习java web的初学者。可直接下载将项目跑起来，然后研读其中的源码。后期我可能会在自己博客上发布讲解相关代码的专栏文章，帮助您对代码进一步的理解，那个时候，我会给出相关链接。</h6>
                            <ul>
                                <li><a href="https://github.com/mthgh123/booksmall" target="_blank">books-mall in GitHub</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
</body>
</html>
