<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="col-article">
                <dt>帮助</dt>
                <dd><a rel="nofollow" href="https://github.com/mthgh123/booksmall" target="_blank">常见问题</a></dd>
                <dd><a rel="nofollow" href="https://github.com/mthgh123/booksmall" target="_blank">支付方式</a></dd>
            </dl>
            <dl class="col-article">
                <dt>平台入驻</dt>
                <dd><a rel="nofollow" href="https://github.com/mthgh123/booksmall" target="_blank">机构专区</a></dd>
            </dl>
            <dl class="col-article">
                <dt>投诉与建议</dt>
                <dd><a rel="nofollow" href="https://github.com/mthgh123/booksmall" target="_blank">问题反馈</a>
                </dd>
            </dl>
        </div>
        <div class="footer-links w1100">
            <p>友情链接：</p>
            <div class="clearfix">
                <a href="#">讲解文档</a>
                <a href="#">问题反馈</a>
                <a href="https://github.com/mthgh123/booksmall">GitHub 地址</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="https://github.com/mthgh123/booksmall" target="_blank">Books-Mall</a> &nbsp; | &nbsp;
                    Developed by yu&nbsp;
                    | &nbsp;
                    &nbsp;QQ联系方式：&nbsp;&nbsp;2365941823
                </p>
                <p>Copyright ©books-mall All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
</html>