<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('books-mall','index')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>
<div id="content">
    <nav th:replace="mall/header::nav-fragment"></nav>
    <div id="banner">
        <div class="swiper-container fl">
            <div class="swiper-wrapper">
                <!-- 配置了轮播图则显示后台配置的轮播图 -->
                <th:block th:unless="${#lists.isEmpty(carousels)}">
                    <th:block th:each="carousel : ${carousels}">
                        <div class="swiper-slide">
                            <a th:href="@{${carousel.redirectUrl}}">
                                <img th:src="@{${carousel.carouselUrl}}" alt="">
                            </a>
                        </div>
                    </th:block>
                </th:block>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <!--热门书籍-->
    <div class="books_display">
        <h2>热门书籍</h2>
        <a href="##" class="more">更多>></a>
        <ul>
            <!-- 已配置推荐商品则显示配置内容 -->
            <th:block th:unless="${#lists.isEmpty(hotBooks)}">
                <th:block th:each="hotBook : ${hotBooks}">
                    <li>
                        <a th:href="@{'/goods/detail/'+${hotBook.goodsId}}">
                            <img th:src="@{${hotBook.goodsCoverImg}}" th:alt="${hotBook.goodsName}">
                            <p class="name" th:text="${hotBook.goodsName}"></p>
                            <p class="discount" th:text="${hotBook.author}"></p>
                            <p class="item_price" th:text="'￥'+${hotBook.sellingPrice}"></p>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>

    <div class="books_display">
        <h2>新书上线</h2>
        <a href="##" class="more">更多>></a>
        <ul>
            <!-- 已配置推荐商品则显示配置内容 -->
            <th:block th:unless="${#lists.isEmpty(newBooks)}">
                <th:block th:each="newBook : ${newBooks}">
                    <li>
                        <a th:href="@{'/goods/detail/'+${newBook.goodsId}}">
                            <img th:src="@{${newBook.goodsCoverImg}}" th:alt="${newBook.goodsName}">
                            <p class="name" th:text="${newBook.goodsName}"></p>
                            <p class="discount" th:text="${newBook.author}"></p>
                            <p class="item_price" th:text="'￥'+${newBook.sellingPrice}"></p>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>

    <div id="hot_books">
        <h2>新品上线</h2>
        <ul>
            <!-- 已配置新品则显示配置内容 -->
            <th:block th:unless="${#lists.isEmpty(newGoodses)}">
                <th:block th:each="newGoods : ${newGoodses}">
                    <li>
                        <a th:href="@{'/goods/detail/'+${newGoods.goodsId}}">
                            <img th:src="@{${newGoods.goodsCoverImg}}" th:alt="${newGoods.goodsName}">
                            <p class="name" th:text="${newGoods.goodsName}">NewBeeMall</p>
                            <p class="discount" th:text="${newGoods.goodsIntro}">NewBeeMall</p>
                            <p class="item_price" th:text="${newGoods.sellingPrice}">NewBeeMall</p>
                        </a>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>


    <!--<div id="new_books_online">
        <h2>新书上线</h2>
        <a th:href="@{/index}" class="more">更多>></a>
        <ul>
            &lt;!&ndash; 已配置推荐商品则显示配置内容 &ndash;&gt;
            <th:block th:unless="${#lists.isEmpty(newBooks)}">
                <th:block th:each="newBook : ${newBooks}">
                    <li>
                        <a class="book-title" th:href="@{'/goods/detail/'+${newBook.goodsId}}">
                            <div class="book-cover">
                                <b class="ic-book-wrap"></b>
                                    <b class="ic-book ic-book-0"></b>
                                <b class="book-cover-shadow"></b>
                                <img class="book-img" th:src="@{${newBook.goodsCoverImg}}" th:alt="${newBook.goodsName}">
                            </div>
                            <p class="name" th:text="${newBook.goodsName}"></p>
                        </a>
                        <p class="book-price" th:text="'￥'+${newBook.sellingPrice}"></p>
                    </li>
                </th:block>
            </th:block>
        </ul>
    </div>-->
</div>
<div th:replace="mall/footer::footer-fragment"></div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/mall/js/swiper.min.js}" type="text/javascript"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/mall/js/index.js}" type="text/javascript"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
</body>
</html>